nav {
	background-color:#222222 ;
	list-style-type: none;
	text-align: right; 
	padding: 0;
	margin: 0;
  }
  
  nav li {
	display: inline-block;
	font-size: 30px;
	padding: 20px;
  }
  nav a {
	color: #0094FF;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  img.a {
	vertical-align: baseline;
  }
  
  img.b {
	vertical-align: text-top;
  }
  
  img.c {
	vertical-align: text-bottom;
  }
  
  img.d {
	vertical-align: sub;
  }
  
  img.e {
	vertical-align: super;
  }
 footer {
	background-color: rgb(211, 212, 216);
	list-style-type: none;
	text-align: center; 
	padding: 0;
	margin: 0;
  }
  
  footer li {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
  }
 button{
	text-align: center;
 }
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
	min-width: 100%;
	max-height: 30%;

  }
  .content{
	background-color: #222222;
	color: #0094FF;
	text-align: center;
  }
  .city {
	background-color:#222222;
	color:#0094FF;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
	text-align: center;
	align-self: center;
  }
  .button {
	position:relative;
	color: #0094FF;
	text-align: center;
	background-color: #222222;
  }
  .seemore {
	position:relative;
	color: #0094FF;
	text-align: center;
	background-color: #222222;
	padding: 2px;
  }
  .projects{
	background-color:#222222;
	color:#0094FF;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
	text-align:right;
	align-self:right;
  }
